{{> layout/header}}

<div class="container p-5">
    <div class="card">
        <div class="card-header"><b>익명 글수정 화면입니다</b></div>
        <div class="card-body">
            <form>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Enter author" id="author"
                           value="{{board.author}}">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Enter title" id="title"
                           value="{{board.title}}">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" rows="5" id="content">{{board.content}}</textarea>
                </div>
                <button type="button" onclick="btnUpdate()" class="btn btn-primary form-control">글수정완료</button>
            </form>
        </div>
    </div>
</div>
<script>
    let path = window.location.pathname; // url을 가져온다.
    //console.log(path);
    let paths = path.split("/");
    //console.log(paths);
    let boardId = paths[2];
    //console.log(boardId);

    // 이렇게 하지 않을 것이면 BoardController 에서 setAttribute의 정보를 사용해서 id 값을 가져온 다음
    // mustache 문법을 이용해 가져오는 방법이 있다.

    function btnUpdate() {
        let board = {
            title: $("#title").val(),
            content: $("#content").val(),
            author: $("#author").val()
        }
        //console.log(board)

        $.ajax({
            url: `/api/boards/${boardId}`,
            type: "put",
            data: JSON.stringify(board),
            contentType: "application/json; charset=utf-8"
        }).done((res) => {
            location.href = "/";
        }).fail((res) => {
            alert(res.responseJSON.msg);
        });
    }
</script>

{{> layout/footer}}